body{
    font-family: sans-serif;
}

.container .card-container img{
    margin-left: 400px;
    height: 300px;
}

.container .card-container p{
    margin-top: 10px;
}

.container .card-container .form-signin button{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 200px;
}
